GROQ_API_KEY=your_groq_key
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
RESEND_API_KEY=your_resend_key
WEB3_STORAGE_TOKEN=your_web3storage_token
LIGHTHOUSE_API_KEY=your_lighthouse_key
NEXT_PUBLIC_FLOW_NETWORK=testnet
NEXT_PUBLIC_FLOW_ACCESS_NODE=https://rest-testnet.onflow.org
NEXT_PUBLIC_FLOW_DISCOVERY_WALLET=https://fcl-discovery.onflow.org/testnet/authn
FLOW_FEE_PAYER_ADDRESS=your_flow_address
FLOW_FEE_PAYER_PRIVATE_KEY=your_flow_private_key
